/* Bendras stilius: */





/* Taurimo stiliaus kodas: */

/* body {
    display: flex;
    min-height: 120vh;
    flex-direction: column;
  } */

  /* main {
    flex: 1 0 auto;
  }
  
   #foto1 img {
    width: 100%;
  } */

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  * {
    box-sizing: border-box;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 33,33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  


/* Saruno stiliaus kodas: */
.foto-dydis {
  width: 500px;
  }
.foto {
width: 100%;
max-width: 500px;
margin-left: auto;
margin-right: auto;

  }
.inputs {
display: flex;
justify-content: center;
}

	

/* Vaivos stiliaus kodas: */
div.flexbox1 {
  display: flex;
  }
  
  div.flexbox1 div {
      align-items: center;
      width: 33.333%;
      padding: 10px;
      text-align: center;
  }
 


div.googlemap {
  text-align: right;
}

.mapframe {
  height: 200px;
  width: 100%;
}

div.container div.flexbox1 div.images {
width: 100%;
}

div.flexbox2 {
  display: flex;
  }

  div.flexbox2{
    align-items: center;
    padding: 10px;
  
}

.mapsbytext {
  width: 30%;
}

.googlemap{
  width: 70%;
}

.formosklase {
  padding: 20px;
}
/* Vardas3 stiliaus kodas: */





/* Vardas4 stiliaus kodas: */