/* Bendras stilius: */





/* Taurimo stiliaus kodas: */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


/* Vardas2 stiliaus kodas: */





/* Vardas3 stiliaus kodas: */





/* Vardas4 stiliaus kodas: */